<div class="container" *ngIf="todos">
    <div class="container__title">
        <h2>{{list.title}}</h2>
    </div>

    <div class="container__content">
        <div class="container__todos" *ngFor="let todo of filteredTodos" >
            <app-todo-card 
                [todo]="todo" 
                (onDeleteTodo)="onDeleteTodo(todo.id)" 
                (onArchiveTodo)="onArchiveTodo(todo)"
                (onViewTodoDetails)="onViewDetails(todo)"
                >
            </app-todo-card>
        </div>
        <div class="container__form">
            <app-form (todo)="onPostTodo($event)"></app-form>
        </div>
    </div>

</div>