@import "../../../color-variables.scss";

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 300px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 15px;
    gap: 10px;
    background: $syracuse-red-orange;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;
    }

    &__title {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__title-input {
        appearance: none;
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: white;

        &:focus {
            outline: none;
          }

          &:hover {
            border: 1px solid black;
            border-radius: 5px;
          }
    }

    &__delete_board {
        color: white;
    }

    &__todos {
        display: flex;
    }

    &__form-container {
        display: flex;
    }

    &__form {
        width: 100%;
    }

    &__cancel {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__close-icon {
        color: white;
    }
}
