@import "../../../color-variables.scss";


.container {
    height: 100%;
    background-color: #EfE9F4;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2em;
    }

    &__form {
        width: 40%;
    }
}
