<div *ngIf="{
    todos: todos$ | async,
    archivedTodos: archivedTodos$ | async,
    lists: lists$ | async,
    isloading: isLoading$ | async
} as PageData" class="container">

    <app-header></app-header>

    <div class="container__content" (submit)="onCreateList()">
        <form action="" [formGroup]="listForm">
            <input type="text" formControlName="title">
            <button mat-raised-button [disabled]="!listForm.valid">Add List</button>
        </form>

        <button (click)="onRemoveAllLists()">Remove all lists</button>

        <div *ngIf="PageData.todos && PageData.lists">
            <app-lists 
            [todos]="PageData.todos"
            (deleteTodo)="onDeleteTodo($event)" 
            (archiveTodo)="onArchiveTodo($event)"
            (deleteArchivedTodo)="onDeleteArchivedTodo($event)" 
            (onViewTodoDetails)="onOpenDialog($event)"
            (todo)="onPostTodo($event)" 
            [lists]="PageData.lists">
            </app-lists>
        </div>

    </div>
</div>





<!-- 
            <div *ngIf="PageData.archivedTodos">
                <app-archived-list [archivedTodos]="PageData.archivedTodos" (deleteTodo)="onDeleteTodo($event)"
                    (archiveTodo)="onArchiveTodo($event)" (deleteArchivedTodo)="onDeleteArchivedTodo($event)"
                    (onViewTodoDetails)="onOpenDialog($event)">
                </app-archived-list>
            </div> -->