<div *ngIf="{
    todos: todos$ | async,
    archivedTodos: archivedTodos$ | async
} as PageData" class="container">

    <app-header></app-header>
    <!-- <app-search ></app-search> -->

    <div class="container__content">

        <div class="container__form">
            <app-form (todo)="onPostTodo($event)"></app-form>
        </div>

        <div class="container__lists">

            <div *ngIf="PageData.todos">
                <h2>To do</h2>
                <app-todo-list [todos]="PageData.todos" (deleteTodo)="onDeleteTodo($event)"
                    (archiveTodo)="onArchiveTodo($event)" (deleteArchivedTodo)="onDeleteArchivedTodo($event)"
                    (onViewTodoDetails)="onOpenDialog($event)">
                </app-todo-list>
            </div>

            <div *ngIf="PageData.archivedTodos">
                <h2>Archived</h2>
                <app-archived-list [archivedTodos]="PageData.archivedTodos" (deleteTodo)="onDeleteTodo($event)"
                    (archiveTodo)="onArchiveTodo($event)" (deleteArchivedTodo)="onDeleteArchivedTodo($event)"
                    (onViewTodoDetails)="onOpenDialog($event)">
                </app-archived-list>
            </div>
        </div>

    </div>
</div>