<div class="container">
    <form [formGroup]="todoForm" (submit)="onSubmit()">
        <div class="container__form">

            <div class="container__field">
                <label for="title">Title</label>
                <input class="container__field--input" type="text" id="title" formControlName="title"
                    placeholder="Title">
            </div>

            <div class="container__field">
                <label for="description">Description</label>
                <input class="container__field--desc" type="text" id="description" formControlName="description"
                    placeholder="Description">
            </div>

            <!-- <div class="container__level">
                <div *ngFor="let option of severityOptions; let i = index">
                    <label for="{{option.label}}">
                        <input class="container__radio" type="radio" id="{{option.label}}" >
                        {{option.label}}</label>
                </div>
            </div> -->


            <div class="container__actions">
                <button [disabled]="!todoForm.valid">Submit Todo</button>
            </div>

        </div>

    </form>
</div>