$low: #4DA167;
$mid: #F9A03F;
$high: #D45113;

.container {
    &__card {
        border: 1px solid black;
        border-radius: 15px;
        overflow: hidden; 
        width: 300px;   
        white-space: nowrap;
    }

    &__title {
        background: black;
        color: white;
        padding: 0 20px;

        h2 {
            margin: 0;
        }

        &-low {
            background-color: $low;
        }
    
        &-medium {
            background-color: $mid;
        }
    
        &-high {
            background-color: $high;
        }
    }



    &__body {
        padding: 5px 20px 20px 20px;
    }

    &__severity {
        height: 15px;
        width: 15px;
        border-radius: 50%;

        &-low {
            background-color: $low;
        }
    
        &-medium {
            background-color: $mid;
        }
    
        &-high {
            background-color: $high;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
