<div class="container">

    <div class="container__card" *ngIf="todo; else archived" (dblclick)="onViewDetails()">

        <div class="container__body">
            <p>{{todo.title}}</p>
            <button class="container__button" (click)="onDelete()"><mat-icon class="container__icon">close</mat-icon></button>
        </div>
    </div>

    <ng-template #archived>

        <div class="container__card">
            <!-- <div class="container__title" [ngClass]="getColor('arhcived')">
                <h2>{{archivedTodo.title}}</h2>
            </div> -->

            <div class="container__body">
                <!-- <p>{{archivedTodo.description}}</p>
                <p>Severity: {{archivedTodo.severityLevel}}</p> -->

                <div class="container__btn-container">
                    <button class="conatiner--btn" (click)="onViewDetails()">View</button>
                </div>
            </div>
        </div>

    </ng-template>



</div>